{{ define "main" }}
    {{ $typesJSON := getJSON "http://gitlab.com/nsssac/data/-/raw/master/types.json" }}
    {{ $typesData := index $typesJSON "types" }}

    <section>
        {{.Content}}
    </section>

    <table data-sortable class="sortable-theme-dark w3-block w3-padding sortable" id="pages-list"
           style="list-style: none;">
        <colgroup>
            <col>
            <col>
            <col>
            {{ range .Site.Taxonomies }}
                <col>
            {{ end }}
            <col style="width: 30rem;">
        </colgroup>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Time</th>
            {{ range $key, $taxonomy := .Site.Taxonomies }}
                <th>
                    {{ $types := split $key " " }}
                    {{ $name := "" }}
                    {{ range $_, $type := $types }}
                        {{ $type := index $typesData . }}
                        {{ if eq $type nil}}
                            {{ $name = printf "%s %s" $name .}}
                        {{ else }}
                            {{ range $icon := $type.icons }}
                                {{ partial "icon.html" $icon }}
                            {{ end }}
                            {{ $name = printf "%s %s" $name $type.name}}
                        {{ end }}
                    {{ end }}
                    {{ $name }}
                </th>
            {{ end }}
            <th>Summary</th>
        </tr>
        {{ range $i, $page := .Pages }}
            <tr id="page-{{ $i }}">
                <td>
                    {{ with $cover := index ($page.Resources.Match "cover.**") 0 }}
                        <img src="{{ $cover.Permalink }}" alt="cover image for {{ $page.Title }}">
                    {{ end }}
                </td>
                <td>
                    <a href="{{ $page.Permalink }}">
                        {{ if eq $page.Title "" }}
                            <i>No Title</i>
                        {{ else }}
                            {{ $page.Title }}
                        {{ end }}
                    </a>
                    <a href="#page-{{ $i }}" aria-label="scroll until here">
                        ¶
                    </a>
                </td>
                <td>
                    <abbr title='{{ $page.Date.Format "2006-01-02T15:04:05.999999999Z07:00" }}'>
                        {{ $page.Date.Format .Site.Params.timeFmt }}
                    </abbr>
                </td>
                {{ range $key, $_ := .Site.Taxonomies }}
                    <td>
                        {{ with $list := ($page.GetTerms $key) }}
                            {{ $icons := slice }}
                            {{ $desc := ""}}
                            {{ range $list }}
                                {{ if ne .LinkTitle "no-show"}}
                                    <a href="{{ .RelPermalink }}">
                                        {{ $types := split .LinkTitle " " }}
                                        {{ $name := "" }}
                                        {{ range $_, $type := $types }}
                                            {{ $type := index $typesData . }}
                                            {{ if eq $type nil}}
                                                {{ $name = printf "%s %s" $name .}}
                                            {{ else }}
                                                {{ range $icon := $type.icons }}
                                                    {{ partial "icon.html" $icon }}
                                                {{ end }}
                                                {{ $name = printf "%s %s" $name $type.name}}
                                            {{ end }}
                                        {{ end }}
                                        {{ $name }}
                                    </a>
                                    <br>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    </td>
                {{ end }}
                <td>
                    {{ $page.Summary }}{{ if $page.Truncated }}&hellip;{{ end }}
                </td>
            </tr>
        {{ end }}
    </table>
{{ end }}
