{{ define "main" }}
<p>
    The page <span id="url">you requested</span> was not found.
    This page may have been moved or deleted (although Gone would make more sense).
    You can try checking out the links below:<br />
    {{ partialCached "links.html" . }}
</p>
<button onclick="window.history.back()">
    {{ partial "icon.html" "mdi-chevron-left" }}Go Back
</button>
<button onclick="window.location = {{ .Site.BaseURL }}">
    {{ partial "icon.html" "mdi-home" }}Go Home
</button>
<script>
    document.getElementById("url").innerText = window.location.href;
    document.getElementById("url").style.fontFamily = "monospace";
</script>
{{ end }}
