{{ $daysURL := .Get 0 }}
{{ $daysJSON := getJSON $daysURL }}
{{ $data := index $daysJSON "days" }}

<noscript>
    {{ partial "icon.html" "mdi-alert" }}
    JavaScript is required to show the current day.
</noscript>

<section id="days-div">
    <div class="w3-half">
        <abbr id="days-today-label">Today</abbr> is:<br>
        <span id="days-today"></span><br>
        <i>
            {{ partial "icon.html" "mdi-information" }}
            Click the buttons to join the corresponding meetings.
        </i>
        <div id="days-today-subjects">
            <a id="days-today-subject1" class="button"></a>
            <br><br>
            <a id="days-today-subject2" class="button"></a>
        </div>
    </div>
    <div class="w3-half">
        <abbr id="days-tomorrow-label">Tomorrow</abbr> is:<br>
        <span id="days-tomorrow"></span>
        <div id="days-tomorrow-subjects">
            <span id="days-tomorrow-subject1"></span>
            <br>
            <span id="days-tomorrow-subject2"></span>
        </div>
    </div>
    <div class="w3-half">
        Data fetched
        <abbr aria-label="Site build time"
              title='{{ now.Format "2006-01-02T15:04:05.999999999Z07:00" }}'>{{ now.Format $.Site.Params.timeFmt }}</abbr>.
    </div>
    <div class="w3-half">
        <details>
            <summary>{{ partial "icon.html" "mdi-settings" }} Settings</summary>
            <fieldset>
                <legend>
                    1st Subject (08:45~12:30)
                </legend>
                <label>
                    Name:
                    <input id="days-settings-1st-name">
                </label>
                <label>
                    Meeting Link:
                    <input id="days-settings-1st-url">
                </label>
            </fieldset>
            <fieldset>
                <legend>
                    2nd Subject (14:00~15:15)
                </legend>
                <label>
                    Name:
                    <input id="days-settings-2nd-name">
                </label>
                <label>
                    Meeting Link:
                    <input id="days-settings-2nd-url">
                </label>
            </fieldset>
            <button onclick="daysApplySettings()">
                {{ partial "icon.html" "mdi-check" }}
                <span id="days-settings-apply-label">Save</span>
            </button>
        </details>
    </div>
</section>

<script>
    function daysApplySettings() {
        let subject1Name = document.getElementById('days-settings-1st-name').value;
        let subject1URL = document.getElementById('days-settings-1st-url').value;
        let subject2Name = document.getElementById('days-settings-2nd-name').value;
        let subject2URL = document.getElementById('days-settings-2nd-url').value;
        localStorage.setItem("days-1st-name", subject1Name);
        localStorage.setItem("days-1st-url", subject1URL);
        localStorage.setItem("days-2nd-name", subject2Name);
        localStorage.setItem("days-2nd-url", subject2URL);
        document.getElementById('days-settings-apply-label').innerText = 'Saved';
        setTimeout(() => document.getElementById('days-settings-apply-label').innerText = 'Save', 2000)
    }

    function daysPrefillSettings() {
        document.getElementById('days-settings-1st-name').value = localStorage.getItem("days-1st-name");
        document.getElementById('days-settings-1st-url').value = localStorage.getItem("days-1st-url");
        document.getElementById('days-settings-2nd-name').value = localStorage.getItem("days-2nd-name");
        document.getElementById('days-settings-2nd-url').value = localStorage.getItem("days-2nd-url");
    }

    let data = new Map();
    {{ range $yearName, $year := $data }}
    data["{{ $yearName }}"] = new Map();
    {{ range $monthName, $month := $year }}
    data["{{ $yearName }}"]["{{ $monthName }}"] = [{{ range $month }}{{ . }}, {{ end }}];
    {{ end }}
    {{ end }}

    let subject1Name = localStorage.getItem("days-1st-name");
    let subject1URL = localStorage.getItem("days-1st-url");
    let subject2Name = localStorage.getItem("days-2nd-name");
    let subject2URL = localStorage.getItem("days-2nd-url");

    let todaySubject1 = document.getElementById('days-today-subject1');
    let todaySubject2 = document.getElementById('days-today-subject2');
    let tomorrowSubject1 = document.getElementById('days-tomorrow-subject1');
    let tomorrowSubject2 = document.getElementById('days-tomorrow-subject2');

    // day 1, 2
    // subject 1
    // subject 2
    // day 3, 4
    // subject 2
    // subject 1

    function formatDay(dayNumber, today) {
        let subject1, subject2;
        if (today) {
            subject1 = todaySubject1;
            subject2 = todaySubject2;
        } else {
            subject1 = tomorrowSubject1;
            subject2 = tomorrowSubject2;
        }
        let prettyDayNumber = dayNumber + 1;
        if (prettyDayNumber === 1 || prettyDayNumber === 2) {
            subject1.innerText = subject1Name ? `1st Subject: ${subject1Name}` : 'Subject Not Set';
            subject1.href = subject1URL ? subject1URL : '#';
            subject2.innerText = subject2Name ? `2nd Subject: ${subject2Name}` : 'Subject Not Set';
            subject2.href = subject2URL ? subject2URL : '#';
        } else if (prettyDayNumber === 3 || prettyDayNumber === 4) {
            subject1.innerText = subject2Name ? `1st Subject: ${subject2Name}` : 'Subject Not Set';
            subject1.href = subject2URL ? subject2URL : '#';
            subject2.innerText = subject1Name ? `2nd Subject: ${subject1Name}` : 'Subject Not Set';
            subject2.href = subject1URL ? subject1URL : '#';
        }
        if (today) {
            document.getElementById('days-today').innerText = `Day ${prettyDayNumber}`;
        } else {
            document.getElementById('days-tomorrow').innerText = `Day ${prettyDayNumber}`;
        }
    }

    function getDay(year, month, day, today) {
        for (let i = 0; i < data[year][month].length; i++) {
            if (data[year][month][i] === day) {
                formatDay(i % 4, today);
            }
        }
        return "(no data found)";
    }

    // ___

    const today = new Date();
    const year = today.getFullYear();
    const month = today.getMonth() + 1;
    const day = today.getDate();

    let tomorrow = new Date();
    tomorrow.setDate(today.getDate() + 1)
    const tomorrowYear = tomorrow.getFullYear();
    const tomorrowMonth = tomorrow.getMonth() + 1;
    const tomorrowDay = tomorrow.getDate();

    const daysTodayLabel = document.getElementById("days-today-label");
    daysTodayLabel.title = `${today.toLocaleDateString()} (local time zone) / ${today.toISOString()}`;

    const daysTomorrowLabel = document.getElementById("days-tomorrow-label");
    daysTomorrowLabel.title = `${tomorrow.toLocaleDateString()} (local time zone) / ${tomorrow.toISOString()}`;

    getDay(year, month, day, true);
    getDay(tomorrowYear, tomorrowMonth, tomorrowDay, false);

    daysPrefillSettings();
</script>
