{{ $id := $.Get "id" }}
{{ $name := $.Get "name" }}
{{ $details := $.Get "details" }}

{{ $typesJSON := getJSON "http://gitlab.com/nsssac/data/-/raw/master/types.json" }}
{{ $typesData := index $typesJSON "types" }}

<table data-sortable class="sortable-theme-dark w3-block w3-padding sortable" id="{{ $id }}-table"
       style="list-style: none;">
    <colgroup>
        {{ with $.Get "noActions" }}{{ else }}
            <col>{{ end }}
        {{ with $.Get "noTime" }}{{ else }}
            <col>{{ end }}
        {{ with $.Get "noType" }}{{ else }}
            <col>{{ end }}
        {{ with $.Get "noName" }}{{ else }}
            <col>{{ end }}
        {{ with $.Get "noNotice" }}{{ else }}
            <col>{{ end }}
        {{ with $.Get "noGovernance" }}{{ else }}
            <col span="3">{{ end }}
        {{ with $.Get "noMtgDetails" }}{{ else }}
            <col>{{ end }}
        {{ with $.Get "noSocials" }}{{ else }}
            <col>{{ end }}
        {{ with $.Get "noDesc" }}{{ else }}
            <col style="width: 30rem;">
        {{ end }}
        {{ with $.Get "noImage" }}{{ else }}
            <col>{{ end }}
    </colgroup>
    <tr>
        {{ with $.Get "noActions" }}{{ else }}
            <th>{{ i18n "actions" }}</th>
        {{ end }}
        {{ with $.Get "noTime" }}{{ else }}
            <th>{{ i18n "time" }}</th>
        {{ end }}
        {{ with $.Get "noType" }}{{ else }}
            <th>{{ i18n "type" }}</th>
        {{ end }}
        {{ with $.Get "noName" }}{{ else }}
            <th id="{{ $id }}-table-name">{{ i18n "name" }}</th>
            <script>
                // click name to activate/show arrow
                // not the best but usually works
                setTimeout(500, () => document.getElementById("{{ $id }}-table-name").click());




            </script>
        {{ end }}
        {{ with $.Get "noNotice" }}{{ else }}
            <th>{{ i18n "notice" }}</th>
        {{ end }}
        {{ with $.Get "noGovernance" }}{{ else }}
            <th>
                {{ i18n "presidents" }}
            </th>
            <th>
                {{ i18n "executives" }}
            </th>
            <th>
                {{ i18n "staff" }}
            </th>
        {{ end }}
        {{ with $.Get "noMtgDetails" }}{{ else }}
            <th>{{ i18n "mtg-details" }}</th>
        {{ end }}
        {{ with $.Get "noSocials" }}{{ else }}
            <th>{{ i18n "socials" }}</th>
        {{ end }}
        {{ with $.Get "noDesc" }}{{ else }}
            <th>{{ i18n "desc" }}</th>
        {{ end }}
        {{ with $.Get "noImage" }}{{ else }}
            <th>{{ i18n "image" }}</th>
        {{ end }}
    </tr>
    {{ $objsJSON := getJSON ($.Get "url") }}
    {{ $objs := index $objsJSON $id }}
    {{ range $i, $obj := $objs }}
    <tr id="{{ $id }}-obj-{{ $i }}">
        {{ with $.Get "noActions" }}{{ else }}
            <td><!-- Actions -->
                {{ if ne $details false }}
                    <a href="{{ $id }}-{{ $i }}" aria-label="view the source document">
                        {{ partial "icon.html" "mdi-text-long" }}{{ i18n "details" }}
                    </a>
                    <br/>
                {{ end }}
                {{ if ne .url nil }}
                    <a href="{{ .url }}" aria-label="view the source document">
                        {{ partial "icon.html" "mdi-eye" }}{{ i18n "view" }}
                    </a>
                {{ end }}
            </td>
        {{ end }}
        {{ with $.Get "noTime" }}{{ else }}
            <td><!-- Time -->
                {{ if ne .date nil}}<!-- deprecated -->
                <abbr title='{{ dateFormat "2006-01-02T15:04:05.999999999Z07:00" .date }}'>
                    {{ dateFormat $.Site.Params.timeFmt .date }}
                </abbr>
                {{ end }}
                {{ if ne .time nil}}
                    <abbr title='{{ dateFormat "2006-01-02T15:04:05.999999999Z07:00" .time }}'>
                        {{ dateFormat $.Site.Params.timeFmt .time }}
                    </abbr>
                {{ end }}
            </td>
        {{ end }}
        {{ with $.Get "noType" }}{{ else }}
            <td><!-- Type -->
                {{ with $list := .types }}
                    {{ $icons := slice }}
                    {{ $desc := ""}}
                    {{ range $list }}
                        {{ if ne . "no-show"}}
                            <div class="w3-bar-item">
                                {{ $types := split . " " }}
                                {{ $name := "" }}
                                {{ range $_, $type := $types }}
                                    {{ $type := index $typesData . }}
                                    {{ if eq $type nil}}
                                        {{ $name = printf "%s %s" $name .}}
                                    {{ else }}
                                        {{ range $icon := $type.icons }}
                                            {{ partial "icon.html" $icon }}
                                        {{ end }}
                                        {{ $name = printf "%s %s" $name $type.name}}
                                    {{ end }}
                                {{ end }}
                                {{ $name }}
                            </div>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </td>
        {{ end }}
        {{ with $.Get "noName" }}{{ else }}
            <td><!-- Name -->
                {{ if ne .name nil }}
                    {{ if ne .short nil }}
                        <i><abbr title="{{ .short }}">{{ .name }}</abbr></i>
                    {{ else }}
                        <i>{{ .name }}</i>
                    {{ end }}
                {{ end }}
                {{ if ne .q nil }}
                    <i>{{ .q }}</i>
                {{ end }}
                <a href="#{{ $id }}-obj-{{ $i }}" aria-label="scroll until here">
                    ¶
                </a>
            </td>
        {{ end }}
        {{ with $.Get "noNotice" }}{{ else }}
            <td><!-- Notice -->
                {{ if ne .html nil }}
                    {{ .html | safeHTML }}
                {{ end }}
            </td>
        {{ end }}
        {{ with $.Get "noGovernance" }}{{ else }}
            <td><!-- Governance: Presidents -->
                {{ if ne .presidents nil }}
                    {{ delimit .presidents ", " }}
                    <br/>
                {{ end }}
            </td>
            <td><!-- Governance: Execs -->
                {{ if ne .execs nil }}
                    {{ delimit .execs ", " }}
                    <br/>
                {{ end }}
            </td>
            <td><!-- Governance: Staff -->
                {{ if ne .staff nil }}
                    {{ $lastStaff := sub (len .staff) 1 }}
                    {{ range $i, $staff := .staff }}
                        <a href="mailto:{{ $staff }}">
                            {{ partial "icon.html" "mdi-email" }}
                            {{ $staff }}
                        </a>
                        {{ if ne $i $lastStaff }}<br/>{{ end }}
                    {{ end }}
                {{ end }}
            </td>
        {{ end }}
        {{ with $.Get "noMtgDetails" }}{{ else }}
            <td><!-- Meeting Details -->
                {{ if ne .when nil }}{{ delimit .when ", " | markdownify }}{{ end }}
                {{ if ne .where nil }}at {{ delimit .where ", " | markdownify }}{{ end }}
            </td>
        {{ end }}
        {{ with $.Get "noSocials" }}{{ else }}
            <td><!-- Socials -->
                {{ if ne .socials nil }}
                    {{ $lastSocials := sub (len .socials) 1 }}
                    {{ range $j, $social := .socials }}
                        {{ $type := index $social 0 }}
                        {{ $id := index $social 1 }}
                        {{ $url := index $social 2 }}

                        {{ if eq $type "instagram" }}
                            <a aria-label="Instagram Account {{ $id }}" href="https://instagram.com/{{ $id }}">
                                <span class="iconify" data-icon="mdi-instagram">(Instagram)</span>
                                {{ $id }}
                            </a>
                        {{ else if eq $type "facebook" }}
                            <li><a aria-label="Facebook Account {{ $id }}"
                                   href="https://facebook.com{{ with $url }}{{ . }}{{ end }}">
                                    <span class="iconify" data-icon="mdi-facebook">(Facebook)</span>
                                    {{ $id }}
                                </a></li>clu
                        {{ else if eq $type "email" }}
                            <a aria-label="Email Address {{ $id }}" href="mailto:{{ $id }}">
                                <span class="iconify" data-icon="mdi-email">(Email)</span>
                                {{ $id }}
                            </a>
                        {{ else if eq $type "hidden" }}
                            <!-- nothing! -->
                        {{ else }}
                            <a aria-label="Social Media ({{ $type }}) Account {{ $id }}" href="#">
                                ({{ $type }}) {{ $id }}
                            </a>
                        {{ end }}
                        {{ if ne $j $lastSocials }}<br/>{{ end }}
                    {{ end }}
                {{ end }}
            </td>
        {{ end }}
        {{ with $.Get "noDesc" }}{{ else }}
            <td>
                {{ if ne .desc nil }}
                    {{ $desc := (replace .desc "\n" "\n\n")}}
                    {{ $truncated := .desc | truncate 100 }}
                    {{ if eq (len $truncated) (len $desc) }}
                        {{ $desc | markdownify }}
                    {{ else }}
                        <details>
                            <summary></summary>
                            {{ $desc | markdownify }}
                        </details>
                    {{ end }}
                {{ end }}
                {{ if ne .a nil }}
                    {{ $a := (replace .a "\n" "\n\n")}}
                    <details>
                        <summary></summary>
                        {{ $a | markdownify }}
                    </details>
                {{ end }}
            </td>
        {{ end }}
        {{ with $.Get "noImage" }}{{ else }}
            <td>
                {{ if ne .image nil }}
                    <div class="w3-bar-item" style="width: 20%">
                        <img src="{{ .image }}" alt="image of {{ .name }}" style="width: 100%;"/>
                    </div>
                {{ end }}
            </td>
        {{ end }}
        {{ end }}
    </tr>
</table>
