<div class="w3-content w3-half w3-margin">
    <figure>
        {{ if .Title }}
            <img class="w3-round-large" src="{{ .Destination | safeURL }}" alt="{{ .Text }}" title="{{ .Title }}" width="100%">
            <figcaption>
                <a href="{{ .Destination | safeURL }}">
                    {{ partial "icon.html" "mdi-eye" }} View Image
                </a><br />
                {{ .Title }}
            </figcaption><!-- using figcaption instead of overlay since it might be better for screen readers? idk -->
        {{ else }}
            <img class="w3-round-large" src="{{ .Destination | safeURL }}" alt="{{ .Text }}" width="100%">
            <figcaption>
                <a href="{{ .Destination | safeURL }}">
                    {{ partial "icon.html" "mdi-eye" }} View Image
                </a>
            </figcaption>
        {{ end }}
    </figure>
</div>