<title>{{ .Title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ if .Description }}
    <meta name="description" content="{{ .Description }}">
{{ else if .IsPage }}
    <meta name="description" content="{{ .Summary | plainify }}">
{{ end }}
<link rel="modulepreload" href="https://cdn.jsdelivr.net/npm/fuse.js@6.4.6/dist/fuse.esm.js">

<!-- alternative output formats -->
{{ range .AlternativeOutputFormats }}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end }}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ $.Site.Params.google_gtag_js }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ $.Site.Params.google_gtag_js }}');
</script>
