/* https://rawcdn.githack.com/HubSpot/sortable/767c7f13f55e9a9c0e431919d46c0a7d26ab4e41/css/sortable-theme-dark.css */

table[data-sortable] {
    border-collapse: collapse;
    border-spacing: 0
}

table[data-sortable] th {
    vertical-align: bottom;
    font-weight: 700
}

table[data-sortable] th, table[data-sortable] td {
    text-align: left;
    padding: 10px
}

table[data-sortable] th:not([data-sortable=false]) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    cursor: pointer
}

table[data-sortable] th:after {
    content: "";
    visibility: hidden;
    display: inline-block;
    vertical-align: inherit;
    height: 0;
    width: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    margin-right: 1px;
    margin-left: 10px;
    float: right
}

table[data-sortable] th[data-sorted=true]:after {
    visibility: visible
}

table[data-sortable] th[data-sorted-direction=descending]:after {
    border-top-color: inherit;
    margin-top: 8px
}

table[data-sortable] th[data-sorted-direction=ascending]:after {
    border-bottom-color: inherit;
    margin-top: 3px
}

table[data-sortable].sortable-theme-dark {
    color: #b9b9b9;
    background: #252525
}

table[data-sortable].sortable-theme-dark tbody td {
    border-top: 1px solid #2e2e2e
}

table[data-sortable].sortable-theme-dark th[data-sorted=true] {
    background: #2e2e2e
}
